<div class="bg(darkblue1)" *ngIf="isVisible">
  <div class="d(flex) w(100%) maxw(120rem) m(center) p(2rem) fs(1.3rem)">
    <a class="icon-logo mr(2rem) br(3) pr(2rem) fs(1.8rem) c(darkblue2) c-hover(darkblue3) td-hover(none)" routerLink=""></a>
    <nav class="d(flex)">
      <a class="c(darkblue2) c-hover(darkblue3) c-active(darkblue3) td-hover(none)" routerLink="/workspace/agenda" routerLinkActive="is-active">Agenda</a>
      <a class="ml(4rem) c(darkblue2) c-hover(darkblue3) c-active(darkblue3) td-hover(none)" routerLink="/workspace/resources" routerLinkActive="is-active">Resources</a>
    </nav>
    <nav class="d(flex) ml(auto)">
      <div class="dropdown" dropdown>
        <a class="c(darkblue2) c-hover(darkblue3) c-active(darkblue3) td-hover(none)" dropdown-open>Pablo Alonso López</a>
        <div class="dropdown-menu">
          <p>Pablo Alonso López</p>
          <p>pabloalonsolopez@gmail.com</p>
          <a class="{{'button' | f}}">View Profile</a>
        </div>
      </div>
    </nav>
  </div>
</div>