<div class="header" *ngIf="isVisible">
  <div class="container-fluid">
    <div class="row middle">
      <div class="col">
        <a class="icon icon-logo" routerLink=""></a>
      </div>
      <div class="col col-flex right">
        <nav class="header-nav">
          <ul>
            <li>
              <a routerLink="/login">Login</a>
            </li>
            <li>
              <a routerLink="/signup">Signup</a>
            </li>
            <li>
              <a class="icon icon-search" routerLink="/workspace"></a>
            </li>
            <li>
              <img class="avatar" src="assets/images/avatar-example.jpg">
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>