fb-footer {
  flex: 0;
  .footer {
    border-top: 1px solid $border-color;
    background-color: $white;
    font-size: $font-size-sm;
    color: $text-silenced-color;
    a {
      display: inline-block;
      margin-top: -1px;
      border-top: 1px solid transparent;
      padding: $spacer-sm 0;
      color: $text-silenced-color;
      transition: border-color .15s ease-in;
      &:hover {
        border-color: $text-silenced-color;
        text-decoration: none;
        color: $text-muted-color;
      }
      &.is-active {
        border-color: $brand-color;
        color: $text-muted-color;
      }
    }
    .footer-nav {
      ul {
        display: inline-flex;
        align-items: center;
        li {
          &:not(:first-child) {
            margin-left: $spacer-md;
          }
        }
      }
    }
  }
}