@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    .measure#{breakpoint-name($breakpoint-name)}        { max-width: 30em; }
    .measure-wide#{breakpoint-name($breakpoint-name)}   { max-width: 34em; }
    .measure-narrow#{breakpoint-name($breakpoint-name)} { max-width: 20em; }

    .indent#{breakpoint-name($breakpoint-name)} {
      text-indent: 1em;
      margin-top: 0;
      margin-bottom: 0;
    }

    .small-caps#{breakpoint-name($breakpoint-name)} { font-variant: small-caps; }

    .truncate#{breakpoint-name($breakpoint-name)} {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}