@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
	.clip#{breakpoint-name($breakpoint-name)} {
      position: fixed !important;
      _position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
}