$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$font-families: (
  proxima: "Proxima Nova"
);

$font-sizes: (
  1.1rem: 1.1rem,
  1.2rem: 1.2rem,
  1.3rem: 1.3rem,
  1.4rem: 1.4rem,
  1.6rem: 1.6rem,
  1.8rem: 1.8rem,
  2rem: 2rem,
  2.4rem: 2.4rem,
  2.8rem: 2.8rem,
  3rem: 3rem,
  3.4rem: 3.4rem,
  3.8rem: 3.8rem,
  7rem: 7rem
);

$font-weights: (
  100: 100,
  200: 200,
  300: 300,
  400: 400,
  500: 500,
  600: 600,
  700: 700,
  800: 800,
  900: 900
);

$line-heights: (
  1: 1,
  1.25: 1.25,
  1.5: 1.5
);

$text-alignments: (
  left: left,
  center: center,
  right: right,
  justify: justify
);

$colors: (
  transparent: transparent,
  white: #FFFFFF,
  white-60: rgba(255, 255, 255, 0.6),
  white-40: rgba(255, 255, 255, 0.4),
  white-20: rgba(255, 255, 255, 0.2),
  black: #484848,
  red: #E74445,
  gray: #F0F0F0,
  gray2: #B0B0B0
);

$border-radiuses: (
  0: 0,
  1px: 1px,
  2px: 2px,
  3px: 3px,
  4px: 4px,
  5px: 5px,
  pill: 9999px,
  100%: 100%
);

$border-styles: (
  solid: solid
);

$border-widths: (
  1px: 1px,
  2px: 2px
);

$heights: (
  100vh: 100vh,
  100%: 100%,
  25rem: 25rem,
  45rem: 45rem,
  55rem: 55rem,
  0.2rem: 0.2rem,
  0.5rem: 0.5rem,
  3rem: 3rem,
  3.8rem: 3.8rem,
  4rem: 4rem,
  8rem: 8rem,
  9rem: 9rem,
  10rem: 10rem,
  11rem: 11rem,
);

$widths: (
  1: 200px,
  2: 400px,
  10%: 10%,
  20%: 20%,
  30%: 30%,
  40%: 40%,
  50%: 50%,
  60%: 60%,
  70%: 70%,
  80%: 80%,
  90%: 90%,
  100%: 100%,
  3rem: 3rem,
  3.8rem: 3.8rem,
  4rem: 4rem,
  5rem: 5rem,
  8rem: 8rem,
  9rem: 9rem,
  10rem: 10rem,
  11rem: 11rem,
  17: (calc(100% / 7)),
  13: (calc(100% / 3))
);

$max-widths: (
  400px: 400px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$displays: (
  block: block,
  inline-block: inline-block,
  flex: flex,
  inline-flex: inline-flex
);

$flex-directions: (
  row: row,
  column: column
);

$flex-wraps: (
  wrap: wrap
);

$flex-alignments: (
  flex-start: flex-start,
  flex-end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch
);

$flex-justifiers: (
  flex-start: flex-start,
  flex-end: flex-end,
  center: center,
  space-between: space-between,
  space-around: space-around
);

$flex-contents: (
  flex-start: flex-start,
  flex-end: flex-end,
  center: center,
  space-between: space-between,
  space-around: space-around,
  stretch: stretch
);

$flex-orders: (
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  last: 99999
);

$flex-types: (
  1: 1,
  0: 0,
  00auto: 0 0 auto
);

$spacings: (
  auto: auto,
  -0.1rem: -0.1rem,
  -0.2rem: -0.2rem,
  -0.5rem: -0.5rem,
  -1rem: -1rem,
  -1.2rem: -1.2rem,
  -2rem: -2rem,
  -2.1rem: -2.1rem,
  -2.4rem: -2.4rem,
  -13rem: -13rem,
  -14rem: -14rem,
  0: 0,
  0.2rem: 0.2rem,
  0.4rem: 0.4rem,
  0.5rem: 0.5rem,
  0.6rem: 0.6rem,
  0.7rem: 0.7rem,
  0.8rem: 0.8rem,
  1rem: 1rem,
  1.2rem: 1.2rem,
  1.3rem: 1.3rem,
  1.4rem: 1.4rem,
  1.6rem: 1.6rem,
  1.8rem: 1.8rem,
  2rem: 2rem,
  2.4rem: 2.4rem,
  3rem: 3rem,
  4rem: 4rem,
  5rem: 5rem,
  6rem: 6rem,
  7rem: 7rem,
  8rem: 8rem,
  9rem: 9rem,
  10rem: 10rem,
  50%: 50%
);

$text-decorations: (
  none: none,
  underline: underline
);

$text-transformations: (
  uppercase: uppercase
);

$transitions: (
  background-color: background-color 0.150s ease-in,
  border-color: border-color 0.150s ease-in,
  color: color 0.150s ease-in,
  all: all 0.150s ease-in
);

$outlines: (
  0: 0
);

$cursors: (
  pointer: pointer
);

$center: (
  "": 0 auto
);

$positions: (
  absolute: absolute,
  relative: relative,
  fixed: fixed
);

$box-shadows: (
  1: 0 0 4px 0 rgba(0, 0, 0, 1),
  2: 0 0 20px rgba(0, 0, 0, .3)
);

$letter-spacings: (
  0.1rem: 0.1rem
);

$z-indexes: (
  1: 1,
  2: 2,
  9999: 9999
);

$font-styles: (
  italic: italic
);

$dictionary: (
  (ac,              align-content,                      $flex-contents,        null),
  (ai,              align-items,                        $flex-alignments,      null),
  (as,              align-self,                         $flex-alignments,      null),
  (bbc,             border-bottom-color,                $colors,               null),
  (bbc-hover,       border-bottom-color,                $colors,               ":hover"),
  (bbc-focus,       border-bottom-color,                $colors,               ":focus"),
  (bbc-active,      border-bottom-color,                $colors,               ".is-active"),
  (bbc-after,       border-bottom-color,                $colors,               ":after"),
  (bblr,            border-bottom-left-radius,          $border-radiuses,      null),
  (bbrr,            border-bottom-right-radius,         $border-radiuses,      null),
  (bbs,             border-bottom-style,                $border-styles,        null),
  (bbs-after,       border-bottom-style,                $border-styles,        ":after"),
  (bbw,             border-bottom-width,                $border-widths,        null),
  (bbw-after,       border-bottom-width,                $border-widths,        ":after"),
  (bc,              border-color,                       $colors,               null),
  (bc-hover,        border-color,                       $colors,               ":hover"),
  (bc-focus,        border-color,                       $colors,               ":focus"),
  (bc-active,       border-color,                       $colors,               ".is-active"),
  (bco,             border-collapse,                    (collapse: collapse),  null),
  (bg,              background-color,                   $colors,               null),
  (bg-hover,        background-color,                   $colors,               ":hover"),
  (bg-focus,        background-color,                   $colors,               ":focus"),
  (bg-active,       background-color,                   $colors,               ".is-active"),
  (bg-after,        background-color,                   $colors,               ":after"),
  (blc,             border-left-color,                  $colors,               null),
  (blc-hover,       border-left-color,                  $colors,               ":hover"),
  (blc-focus,       border-left-color,                  $colors,               ":focus"),
  (blc-active,      border-left-color,                  $colors,               ".is-active"),
  (bls,             border-left-style,                  $border-styles,        null),
  (blw,             border-left-width,                  $border-widths,        null),
  (bottom,          bottom,                             $spacings,             null),
  (boxs,            box-shadow,                         $box-shadows,          null),
  (br,              border-radius,                      $border-radiuses,      null),
  (brc,             border-right-color,                 $colors,               null),
  (brc-hover,       border-right-color,                 $colors,               ":hover"),
  (brc-focus,       border-right-color,                 $colors,               ":focus"),
  (brc-active,      border-right-color,                 $colors,               ".is-active"),
  (brs,             border-right-style,                 $border-styles,        null),
  (brw,             border-right-width,                 $border-widths,        null),
  (bs,              border-style,                       $border-styles,        null),
  (btc,             border-top-color,                   $colors,               null),
  (btc-hover,       border-top-color,                   $colors,               ":hover"),
  (btc-focus,       border-top-color,                   $colors,               ":focus"),
  (btc-active,      border-top-color,                   $colors,               ".is-active"),
  (btlr,            border-top-left-radius,             $border-radiuses,      null),
  (btrr,            border-top-right-radius,            $border-radiuses,      null),
  (bts,             border-top-style,                   $border-styles,        null),
  (btw,             border-top-width,                   $border-widths,        null),
  (bw,              border-width,                       $border-widths,        null),
  (c,               color,                              $colors,               null),
  (c-hover,         color,                              $colors,               ":hover"),
  (c-focus,         color,                              $colors,               ":focus"),
  (c-active,        color,                              $colors,               ".is-active"),
  (c-placeholder,   color,                              $colors,               "::placeholder"),
  (c-focus-placeholder, color,                          $colors,               ":focus::placeholder"),
  (center,          margin,                             $center,               null),
  (cu,              cursor,                             $cursors,              null),
  (d,               display,                            $displays,             null),
  (d-after,         display,                            $displays,             ":after"),
  (f,               font-size,                          $font-sizes,           null),
  (fs,              font-style,                         $font-styles,          null),
  (fd,              flex-direction,                     $flex-directions,      null),
  (ff,              font-family,                        $font-families,        null),
  (flex,            flex,                               $flex-types,           null),
  (fo,              order,                              $flex-orders,          null),
  (fw,              font-weight,                        $font-weights,         null),
  (fw,              flex-wrap,                          $flex-wraps,           null),
  (h,               height,                             $heights,              null),
  (h-after,         height,                             $heights,              ":after"),
  (jc,              justify-content,                    $flex-justifiers,      null),
  (left,            left,                               $spacings,             null),
  (lh,              line-height,                        $line-heights,         null),
  (ls,              letter-spacing,                     $letter-spacings,      null),
  (m,               margin,                             $spacings,             null),
  (mb,              margin-bottom,                      $spacings,             null),
  (minh,            min-height,                         $heights,              null),
  (ml,              margin-left,                        $spacings,             null),
  (mr,              margin-right,                       $spacings,             null),
  (mt,              margin-top,                         $spacings,             null),
  (mw,              max-width,                          $max-widths,           null),
  (mx,              (margin-left, margin-right),        $spacings,             null),
  (my,              (margin-top, margin-bottom),        $spacings,             null),
  (ou,              outline,                            $outlines,             null),
  (p,               padding,                            $spacings,             null),
  (pb,              padding-bottom,                     $spacings,             null),
  (po,              position,                           $positions,            null),
  (pt,              padding-top,                        $spacings,             null),
  (pl,              padding-left,                       $spacings,             null),
  (pr,              padding-right,                      $spacings,             null),
  (px,              (padding-left, padding-right),      $spacings,             null),
  (py,              (padding-top, padding-bottom),      $spacings,             null),
  (right,           right,                              $spacings,             null),
  (t,               transition,                         $transitions,          null),
  (t-placeholder,   transition,                         $transitions,          "::placeholder"),
  (ta,              text-align,                         $text-alignments,      null),
  (td,              text-decoration,                    $text-decorations,     null),
  (td-hover,        text-decoration,                    $text-decorations,     ":hover"),
  (top,             top,                                $spacings,             null),
  (tt,              text-transform,                     $text-transformations, null),
  (w,               width,                              $widths,               null),
  (w-after,         width,                              $widths,               ":after"),
  (z,               z-index,                            $z-indexes,            null),
  (after,           content,                            ("": " "),              ":after")
);