.link {
  text-decoration: none;
  transition: color .15s ease-in;
  &:link, &:visited, &:hover, &:active, &:focus {
  	transition: color .15s ease-in;
  }
  &:focus {
  	outline: 1px dotted currentColor;
  }
}