<div class="container-slim">
  <div class="u-text-center">
    <i class="icon icon-logo"></i>
    <h1>Sign up</h1>
    <h2>Get up and running with Footbagent in minutes.</h2>
  </div>
  <form>
    <div class="form-group">
      <input type="email" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password"/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Repeat password"/>
    </div>
    <div class="form-group">
      <input type="submit" value="Sign up"/>
      <p class="u-text-center">By signing up you agree to our <a routerLink="/terms">Terms of service</a> and <a routerLink="/privacy">Privacy Policy</a>.</p>
    </div>
  </form>
  <p class="u-text-center">Already have an account? <a routerLink="/login">Log in</a>.</p>
</div>