<div class="d(flex) ai(center) pos(absolute) top(0) right(0) left(0) p(40px)">
 <a class="icon-logo td-hover(none) f(4rem) c(black1) c(black5)@lg" routerLink=""></a>
 <div class="d(flex) ai(center) ml(auto)">
   <p class="f(1.3rem)">Already have an account?</p>
   <a class="ml(15px) {{'button' | f}}" routerLink="/login">Sign in</a>
</div>
</div>
<div class="d(flex) h(100vh)">
  <div class="d(none) d(flex)@lg flex(0-0-460px)@md p(40px)" style="background: linear-gradient(rgba(31, 37, 50, 0.8), rgba(31, 37, 50, 0.8)), url('assets/images/welcome-bg.jpg') no-repeat center; background-size: cover;">
    <div class="m(auto) ta(center) c(black5)">
      <p class="tt(uppercase) fw(600) f(1.1rem) ls(0.2rem)">Footbagent</p>
      <p class="mt(15px) tt(uppercase) fw(600) f(2rem) ls(0.2rem)">The definitive tool for football managers</p>
      <p class="mt(30px) f(1.5rem) fs(italic)">Unlimited resources. Unlimited control.</p>
    </div>
  </div>
  <div class="d(flex) flex(1) bg(black7)">
    <div class="w(100%) maxw(620px) m(auto) p(40px)">
      <h1 class="f(2.8rem) c(black)">Sign up absolutely free.</h1>
      <h2 class="mt(5px) f(1.6rem) c(black1)">Get up and running with Footbagent in minutes.</h2>
      <form class="mt(45px)">
        <label class="{{'label' | f}}" for="name">Name</label>
        <input class="{{'form-control' | f}}" type="text" id="name" placeholder="Enter your name"/>
        <label class="{{'label' | f}} mt(20px)" for="email">Email address</label>
        <input class="{{'form-control' | f}}" type="email" id="email" placeholder="Enter your email"/>
        <label class="{{'label' | f}} mt(20px)" for="password">Password</label>
        <input class="{{'form-control' | f}}" type="password" id="password" placeholder="Enter your password"/>
        <div class="ta(center)">
          <input class="{{'button--primary' | f}} mt(40px)" type="submit" value="Sign up"/>
        </div>
      </form>
      <p class="mt(40px) ta(center) f(1.2rem)">By signing up you agree with our <a class="c(black2) c-hover(black1)" routerLink="/terms">Terms of Service</a> and <a class="c(black2) c-hover(black1)" routerLink="/privacy">Privacy Policy</a>.</p>
    </div>
  </div>
</div>