<div class="ta(center)">
  <i class="d(block) mb(4rem) fs(7rem) c(brand) icon-logo"></i>
  <h1 class="mt(4rem) fw(600) lh(1.25) fs(2.8rem)">Sign up</h1>
  <h2 class="mt(1rem) fs(1.6rem) c(gray4)">Get up and running with Footbagent in minutes.</h2>
</div>
<form class="mt(4rem)">
  <input class="{{ 'form-control' | f }}" type="email" placeholder="Email"/>
  <input class="{{ 'form-control' | f }} mt(2rem)" type="password" placeholder="Password"/>
  <input class="{{ 'form-control' | f }} mt(2rem)" type="password" placeholder="Repeat password"/>
  <input class="{{ 'button' | f }} w(100%) mt(3rem)" type="submit" value="Sign up"/>
  <p class="mt(1rem) ta(center) fs(1.2rem) c(gray4)">By signing up you agree to our <a routerLink="/terms">Terms of service</a> and <a routerLink="/privacy">Privacy Policy</a>.</p>
</form>
<p class="mt(4rem) ta(center) fw(600) fs(1.3rem)">Already have an account? <a routerLink="/login">Log in</a>.</p>