<div class="ta(center)">
  <i class="d(block) mb(4rem) fs(7rem) c(brand) icon-logo"></i>
  <h1 class="mt(4rem) fw(600) lh(1.25) fs(2.8rem)">Reset Footbagent password confirm</h1>
  <h2 class="mt(1rem) fs(1.6rem) c(gray5)">Enter your new password twice to verify that you have type it succesfully.</h2>
</div>
<form class="mt(4rem)">
  <input class="{{ 'form-control' | f }}" type="password" placeholder="New password"/>
  <input class="{{ 'form-control' | f }} mt(2rem)" type="password" placeholder="Repeat new password"/>
  <input class="{{ 'button' | f }} w(100%) mt(3rem)" type="submit" value="Change my password"/>
</form>