<div class="container-slim">
  <div class="u-text-center">
    <i class="icon icon-logo"></i>
    <h1>Reset Footbagent password confirm</h1>
    <h2>Enter your new password twice to verify that you have type it succesfully.</h2>
  </div>
  <form>
    <div class="form-group">
      <input type="password" placeholder="New password"/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Repeat new password"/>
    </div>
    <div class="form-group">
      <input type="submit" value="Change my password"/>
    </div>
  </form>
</div>