<i class="d(block) f(7rem) c(blue) mb(4rem) icon-logo ta(center)"></i>
<h1 class="fw(600) f(2.4rem) lh(1.25) mb(0.8rem) ta(center)">Confirmar restablecimiento de contraseña Footbagent</h1>
<h2 class="fw(400) c(gray1) f(1.6rem) mb(5rem) ta(center)">Introduce tu nueva contraseña por duplicado para que podamos verificar que la has escrito correctamente.</h2>
<form>
  <input class="d(block) w(100%) bw(1px) bs(solid) bc(gray3) br(2px) px(2rem) py(1rem) ou(0) lh(1.5) mb(1.4rem) c(black) bc-focus(blue) c-placeholder(gray3) t(border-color) c-focus-placeholder(gray2) t-placeholder(color)" type="password" placeholder="Nueva contraseña"/>
  <input class="d(block) w(100%) bw(1px) bs(solid) bc(gray3) br(2px) px(2rem) py(1rem) ou(0) lh(1.5) mb(1.4rem) c(black) bc-focus(blue) c-placeholder(gray3) t(border-color) c-focus-placeholder(gray2) t-placeholder(color)" type="password" placeholder="Repite nueva contraseña"/>
  <input class="d(block) w(100%) bw(1px) bs(solid) bc(blue) bg(blue) c(white) bc-hover(blue-95) bg-hover(blue-95) br(2px) px(2rem) py(1rem) f(1.2rem) fw(600) ou(0) lh(1.5) t(all) cu(pointer)" type="submit" value="Cambiar mi contraseña"/>
</form>