@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    .o-100#{breakpoint-name($breakpoint-name)} { opacity: 1;  }
    .o-90#{breakpoint-name($breakpoint-name)}  { opacity: .9; }
    .o-80#{breakpoint-name($breakpoint-name)}  { opacity: .8; }
    .o-70#{breakpoint-name($breakpoint-name)}  { opacity: .7; }
    .o-60#{breakpoint-name($breakpoint-name)}  { opacity: .6; }
    .o-50#{breakpoint-name($breakpoint-name)}  { opacity: .5; }
    .o-40#{breakpoint-name($breakpoint-name)}  { opacity: .4; }
    .o-30#{breakpoint-name($breakpoint-name)}  { opacity: .3; }
    .o-20#{breakpoint-name($breakpoint-name)}  { opacity: .2; }
    .o-10#{breakpoint-name($breakpoint-name)}  { opacity: .1; }
    .o-05#{breakpoint-name($breakpoint-name)}  { opacity: .05; }
    .o-025#{breakpoint-name($breakpoint-name)} { opacity: .025; }
    .o-0#{breakpoint-name($breakpoint-name)}   { opacity: 0; }
  }
}