<div class="w(100%) maxw(620px) m(0-auto) px(20px) py(90px)">
  <label class="{{ 'label' | f }}" for="currentpassword">Current password</label>
  <input class="{{ 'form-control' | f }}" type="password" id="currentpassword" placeholder="Enter current password"/>
  <label class="{{ 'label' | f }} mt(20px)" for="newpassword">New password</label>
  <input class="{{ 'form-control' | f }}" type="password" id="newpassword" placeholder="Enter new password"/>
  <label class="{{ 'label' | f }} mt(20px)" for="confirmnewpassword">Confirm new password</label>
  <input class="{{ 'form-control' | f }}" type="password" id="confirmnewpassword" placeholder="Confirm new password"/>
  <div class="ta(center)">
    <input class="{{ 'button--primary' | f }} mt(40px)" type="submit" value="Change password"/>
   </div>
</div>