<div class="bg(purple) pt(20px) pb(30px)">
  <div class="d(flex) w(100%) maxw(xl) m(0-auto) px(20px)">
    <div class="d(inline-flex) ai(center) jc(center) w(40px) h(40px) mr(20px) br(100%) bg(purple1) lh(1) fw(600) f(1.4rem) c(purple3)">PA</div>
    <h1 class="fw(300) lh(1.25) f(3.2rem) c(purple7)">Pablo Alonso López</h1>
  </div>
</div>
<div class="bg(purple)">
  <div class="d(flex) w(100%) maxw(xl) m(0-auto) px(10px)">
    <nav class="d(flex)">
      <a class="bb(2) bc(transparent) bc-active(red) px(10px) py(15px) td-hover(none) tt(uppercase) f(1.2rem) c(purple3) c-hover(purple7) c-active(purple7) ls(0.1rem) t(all)" routerLink="detail" routerLinkActive="is-active">Profile</a>
      <a class="ml(30px) bb(2) bc(transparent) bc-active(red) px(10px) py(15px) td-hover(none) tt(uppercase) f(1.2rem) c(purple3) c-hover(purple7) c-active(purple7) ls(0.1rem) t(all)" routerLink="password" routerLinkActive="is-active">Password</a>
      <a class="ml(30px) bb(2) bc(transparent) bc-active(red) px(10px) py(15px) td-hover(none) tt(uppercase) f(1.2rem) c(purple3) c-hover(purple7) c-active(purple7) ls(0.1rem) t(all)" routerLink="deactivation" routerLinkActive="is-active">Deactivate Account</a>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>