<div class="ta(center)">
  <i class="d(block) mb(4rem) fs(7rem) c(brand) icon-logo"></i>
  <h1 class="mt(4rem) fw(600) lh(1.25) fs(2.8rem)">Login</h1>
  <h2 class="mt(1rem) fs(1.6rem) c(gray4)">Welcome to Footbagent again.</h2>
</div>
<form class="mt(4rem)">
  <input class="{{ 'form-control' | f }}" type="email" placeholder="Email"/>
  <input class="{{ 'form-control' | f }} mt(2rem)" type="password" placeholder="Password"/>
  <a class="d(inline-block) mt(2rem)" routerLink="/reset-password">Forgot password?</a>
  <input class="{{ 'button' | f }} w(100%) mt(2rem)" type="submit" value="Log in"/>
</form>
<p class="mt(4rem) ta(center) fw(600) fs(1.3rem)">Don't have an account? <a routerLink="/signup">Sign up</a>.</p>