<div class="container-slim">
  <div class="u-text-center">
    <i class="icon icon-logo"></i>
    <h1>Login</h1>
    <h2>Welcome to Footbagent again.</h2>
  </div>
  <form>
    <div class="form-group">
      <input type="email" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input type="password" placeholder="Password"/>
    </div>
    <div class="form-group">
      <a routerLink="/reset-password">Forgot password?</a>
    </div>
    <div class="form-group">
      <input type="submit" value="Login"/>
    </div>
  </form>
  <p class="u-text-center">Don't have an account? <a routerLink="/signup">Sign up</a>.</p>
</div>