<i class="d(block) mb(4rem) fs(7rem) c(brand) icon-logo"></i>
<h1 class="mt(4rem) lh(1.25) fs(2.8rem)">Sign in to Footbagent.</h1>
<h2 class="mt(1rem) fs(1.6rem) c(gray5)">Enter your details below.</h2>
<form class="mt(4rem)">
  <label class="{{ 'label' | f }}" for="email">Email address</label>
  <input class="{{ 'form-control' | f }}" type="email" id="email" placeholder="paul@example.com"/>
  <label class="{{ 'label' | f }} mt(2rem)" for="email">Password</label>
  <input class="{{ 'form-control' | f }}" type="password" id="password" placeholder="Enter your password"/>
  <a class="d(inline-block) mt(2rem)" routerLink="/reset-password">Forgot password?</a>
  <input class="{{ 'button' | f }} w(100%) mt(2rem)" type="submit" value="Log in"/>
</form>
<p class="mt(4rem) ta(center) fw(600) fs(1.3rem)">Don't have an account? <a routerLink="/signup">Sign up</a>.</p>