<div class="bb(1) py(2rem) bg(gray1)">
  <div class="maxw(120rem) m(center) px(2rem)">
    <h1 class="fs(1.8rem)">Account settings</h1>
  </div>
</div>
<div class="maxw(120rem) m(center) px(1rem)">
  <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
    <div class="flex(12) flex(3)@md p(1rem)">
      <h2 class="fs(1.8rem)">Profile</h2>
      <p class="mt(0.5rem) fs(1.2rem) c(gray5)">Your email address is your identity on Footbagent and is used to log in.</p>
    </div>
    <div class="flex(12) flex(9)@md p(1rem)">
      <label class="{{ 'label' | f }}">Email</label>
      <input class="{{ 'form-control' | f }}" type="email" placeholder="Email"/>
      <label class="{{ 'label' | f }} mt(3rem)">Username</label>
      <input class="{{ 'form-control' | f }}" type="text" placeholder="Username"/>
      <input class="{{ 'button' | f }} mt(3rem)" type="submit" value="Save changes"/>
    </div>
  </div>
  <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
    <div class="flex(12) flex(3)@md p(1rem)">
      <h2 class="fs(1.8rem)">Password</h2>
      <p class="mt(0.5rem) fs(1.2rem) c(gray5)">It is recommended due to security reasons to change your password regularly.</p>
    </div>
    <div class="flex(12) flex(9)@md p(1rem)">
      <input class="{{ 'form-control' | f }}" type="password" placeholder="Current password"/>
      <input class="{{ 'form-control' | f }} mt(2rem)" type="password" placeholder="New password"/>
      <input class="{{ 'form-control' | f }} mt(2rem)" type="password" placeholder="Confirm new password"/>
      <input class="{{ 'button' | f }} mt(3rem)" type="submit" value="Update password"/>
    </div>
  </div>
  <div class="d(flex) fwrap(wrap) ai(center) py(4rem)">
    <div class="flex(12) flex(3)@md p(1rem)">
      <h2 class="fs(1.8rem) c(red)">Close Account</h2>
      <p class="mt(0.5rem) fs(1.2rem) c(gray5)"><span class="fw(600)">Warning:</span> Closing your account is irreversible.</p>
    </div>
    <div class="flex(12) flex(9)@md p(1rem)">
      <input class="{{ 'button' | f }}" type="submit" value="Close this account..."/>
    </div>
  </div>
</div>