@function breakpointSuffix($breakpoint-name) {
  @if map-get($breakpoints, $breakpoint-name) == 0 {
    @return "";
  } @else {
    @return \@#{$breakpoint-name};
  }
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

@function arg($string) {
  $string: "\\(" + $string + "\\)";
  $string: str-replace($string, "#", "\\#");
  $string: str-replace($string, ".", "\\.");
  $string: str-replace($string, "%", "\\%");
  @return $string;
}