@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    .fs-1#{breakpoint-name($breakpoint-name)} { font-size: 3rem; }
    .fs-2#{breakpoint-name($breakpoint-name)} { font-size: 2.25rem; }
    .fs-3#{breakpoint-name($breakpoint-name)} { font-size: 1.5rem; }
    .fs-4#{breakpoint-name($breakpoint-name)} { font-size: 1.25rem; }
    .fs-5#{breakpoint-name($breakpoint-name)} { font-size: 1rem; }
    .fs-6#{breakpoint-name($breakpoint-name)} { font-size: .875rem; }
  }
}