<div class="bg(blue) py(20px)">
  <div class="d(flex) w(100%) maxw(xl) m(0-auto) px(20px)">
    <nav class="d(flex) ai(center)">
      <a class="icon-logo td-hover(none) mr(20px) bri(1) bc(white-1) pr(20px) f(2rem) c(white-4) c-hover(white-6)" routerLink="/workspace"></a>
      <a class="td-hover(none) lh(1.25) f(1.3rem) c(white-4) c-hover(white-6) c-active(white-6)" routerLink="resources" routerLinkActive="is-active">Resources</a>
    </nav>
    <nav class="ml(auto)">
      <a class="td-hover(none) f(1.3rem) c(white-4) c-hover(white-6)">Pablo Alonso López</a>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>