<div class="bbw(1px) bbs(solid) bbc(gray4)">
  <nav class="mw(5) center() px(2rem) ta(center)">
    <a class="d(inline-block) td(none) c(gray2) c-hover(gray1) c-active(gray1) py(1rem) mr(2rem) bbw(1px) bbs(solid) bbc(transparent) bbc-hover(gray3) bbc-active(blue) mb(-0.1rem) t(all)" routerLink="agenda" routerLinkActive="is-active">Agenda</a>
    <a class="d(inline-block) td(none) c(gray2) c-hover(gray1) c-active(gray1) py(1rem) mr(2rem) bbw(1px) bbs(solid) bbc(transparent) bbc-hover(gray3) bbc-active(blue) mb(-0.1rem) t(all)" routerLink="resources" routerLinkActive="is-active">Recursos</a>
    <a class="d(inline-block) td(none) c(gray2) c-hover(gray1) c-active(gray1) py(1rem) bbw(1px) bbs(solid) bbc(transparent) bbc-hover(gray3) bbc-active(blue) mb(-0.1rem) t(all)" routerLink="settings" routerLinkActive="is-active">Configuración de cuenta</a>
  </nav>
</div>
<router-outlet></router-outlet>