<div class="bg(purple)">
  <div class="d(flex) ai(center) w(100%) maxw(xl) m(0-auto) p(20px)">
    <div class="d(flex) ai(center)">
      <a class="mr(20px) pr(20px) bri(1) bc(purple1) td-hover(none) f(2rem) c(purple3) c-hover(purple6) icon-logo" routerLink="/workspace"></a>
      <a class="td-hover(none) lh(1.25) f(1.3rem) c(purple3) c-hover(purple6) c-active(purple6)" routerLink="resources" routerLinkActive="is-active">Resources</a>
      <a class="ml(40px) td-hover(none) lh(1.25) f(1.3rem) c(purple3) c-hover(purple6) c-active(purple6)" routerLink="activity" routerLinkActive="is-active">Activity</a>
    </div>
    <div class="d(flex) ml(auto)">
      <a class="td-hover(none) lh(1.25) f(1.3rem) c(purple3) c-hover(purple6)">Pablo Alonso López</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>