*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $gray5;
  line-height: 1.5;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.4rem;
  color: $gray1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: color .15s ease-in;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 1.4rem;
}

input {
  -webkit-appearance: none;
  font-family: inherit;
  outline: 0;
}