*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $black6;
  line-height: 1.5;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1.4rem;
  color: $black1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: color .15s ease-in;
  outline: 0;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-size: 1.4rem;
}

input {
  -webkit-appearance: none;
  font-family: inherit;
  outline: 0;
}

.dropdown {
  position: relative;
  &.is-open {
    .dropdown-menu {
      pointer-events: auto;
      opacity: 1;
      .dropdown-menu-content {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 40px;
  pointer-events: none;
  transform-origin: center top;
  opacity: 0;
  transition: all .4s cubic-bezier(.7, 0, .3, 1);
  .dropdown-menu-content {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
    transition: opacity .4s ease, transform .4s cubic-bezier(.7, 0, .3, 1);
  }
}