$border-styles: (
  dotted: dotted,
  dashed: dashed,
  solid: solid,
  none: none
);

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
	@each $border-style-name, $border-style-value in $border-styles {
      .bs-#{$border-style-name}#{breakpoint-name($breakpoint-name)} { border-style: $border-style-value; }
    }
  }
}