@each $color-name, $color-value in $colors {
  .bc-#{$color-name} { border-color: $color-value; }
  .bc-h-#{$color-name} {
  	border-left-color: $color-value;
  	border-right-color: $color-value;
  }
  .bc-v-#{$color-name} {
  	border-top-color: $color-value;
  	border-bottom-color: $color-value;
  }
  .bc-t-#{$color-name} { border-top-color: $color-value; }
  .bc-r-#{$color-name} { border-right-color: $color-value; }
  .bc-b-#{$color-name} { border-bottom-color: $color-value; }
  .bc-l-#{$color-name} { border-left-color: $color-value; }
}