$border-radiuses: (
  0: 0,
  1: .125rem,
  2: .25rem,
  3: .5rem,
  4: 1rem,
  100: 100%,
  pill: 9999px,
);

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    @each $border-radius-name, $border-radius-value in $border-radiuses {
      .br-#{$border-radius-name}#{breakpoint-name($breakpoint-name)} { border-radius: $border-radius-value; }
    }
    .br-bottom#{breakpoint-name($breakpoint-name)} {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .br-top#{breakpoint-name($breakpoint-name)} {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .br-right#{breakpoint-name($breakpoint-name)} {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .br-left#{breakpoint-name($breakpoint-name)} {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}