$border-widths: (
  0: 0,
  1: .125rem,
  2: .25rem,
  3: .5rem,
  4: 1rem,
  5: 2rem
);

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
	  @each $border-width-name, $border-width-value in $border-widths {
      .bw-#{$border-width-name}#{breakpoint-name($breakpoint-name)} { border-width: $border-width-value; }
    }
    .bt-0#{breakpoint-name($breakpoint-name)} { border-top-width: 0; }
    .br-0#{breakpoint-name($breakpoint-name)} { border-right-width: 0; }
    .bb-0#{breakpoint-name($breakpoint-name)} { border-bottom-width: 0; }
    .bl-0#{breakpoint-name($breakpoint-name)} { border-left-width: 0; }
  }
}