$breakpoints: (
  xs: 0,
  sm: 36em,
  md: 48em,
  lg: 62em,
  xl: 75em
);

@mixin media($breakpoint-name) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-name);
  @if $breakpoint-value == 0 {
    @content;
  } @else {
    @media (min-width: $breakpoint-value) {
      @content;
    }
  }
}

@function breakpoint-name($breakpoint-name) {
  $breakpoint-value: map-get($breakpoints, $breakpoint-name);
  @if $breakpoint-value == 0 {
    @return '';
  } @else {
    @return -#{$breakpoint-name};
  }
}