$proxima: "Proxima Nova", sans-serif; //custom

$sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
$serif: georgia, times, serif;
$system-sans-serif: sans-serif;
$system-serif: serif;
$code: Consolas, monaco, monospace;
$courier: "Courier Next", courier, monospace;
$helvetica: "helvetica neue", helvetica, sans-serif;
$avenir: "avenir next", avenir, sans-serif;
$athelas: athelas, georgia, serif;
$georgia: georgia, serif;
$times: times, serif;
$bodoni: "Bodoni MT", serif;
$calisto: "Calisto MT", serif;
$garamond: garamond, serif;
$baskerville: baskerville, serif;

$font-families: (
  proxima: $proxima, //custom
  
  sans-serif: $sans-serif,
  serif: $serif,
  system-sans-serif: $system-sans-serif,
  system-serif: $system-serif,
  code: $code,
  courier: $courier,
  helvetica: $helvetica,
  avenir: $avenir,
  athelas: $athelas,
  georgia: $georgia,
  times: $times,
  bodoni: $bodoni,
  calisto: $calisto,
  garamond: $garamond,
  baskerville: $baskerville
);