.cf:before, .cf:after { content: " "; display: table; }
.cf:after             { clear: both; }
.cf                   { *zoom: 1; }

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    .cl#{breakpoint-name($breakpoint-name)} { clear: left; }
    .cr#{breakpoint-name($breakpoint-name)} { clear: right; }
    .cb#{breakpoint-name($breakpoint-name)} { clear: both; }
    .cn#{breakpoint-name($breakpoint-name)} { clear: none; }
  }
}