@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    .overflow-visible#{breakpoint-name($breakpoint-name)}   { overflow: visible; }
    .overflow-hidden#{breakpoint-name($breakpoint-name)}    { overflow: hidden; }
    .overflow-scroll#{breakpoint-name($breakpoint-name)}    { overflow: scroll; }
    .overflow-auto#{breakpoint-name($breakpoint-name)}      { overflow: auto; }

    .overflow-x-visible#{breakpoint-name($breakpoint-name)} { overflow-x: visible; }
    .overflow-x-hidden#{breakpoint-name($breakpoint-name)}  { overflow-x: hidden; }
    .overflow-x-scroll#{breakpoint-name($breakpoint-name)}  { overflow-x: scroll; }
    .overflow-x-auto#{breakpoint-name($breakpoint-name)}    { overflow-x: auto; }

    .overflow-y-visible#{breakpoint-name($breakpoint-name)} { overflow-y: visible; }
    .overflow-y-hidden#{breakpoint-name($breakpoint-name)}  { overflow-y: hidden; }
    .overflow-y-scroll#{breakpoint-name($breakpoint-name)}  { overflow-y: scroll; }
    .overflow-y-auto#{breakpoint-name($breakpoint-name)}    { overflow-y: auto; }
  }
}