@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @include media($breakpoint-name) {
    .ba#{breakpoint-name($breakpoint-name)} { border-style: solid; border-width: 1px; }
    .bt#{breakpoint-name($breakpoint-name)} { border-top-style: solid; border-top-width: 1px; }
    .br#{breakpoint-name($breakpoint-name)} { border-right-style: solid; border-right-width: 1px; }
    .bb#{breakpoint-name($breakpoint-name)} { border-bottom-style: solid; border-bottom-width: 1px; }
    .bl#{breakpoint-name($breakpoint-name)} { border-left-style: solid; border-left-width: 1px; }
    .bn#{breakpoint-name($breakpoint-name)} { border-style: none; border-width: 0; }
  }
}