*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

ul, ol {
  list-style: none;
}

a {
  outline: 0;
}

h1 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: $body-line-height;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
}

input, button {
  font-family: $body-font-family;
}

img {
  vertical-align: middle;
}