html {
  font-size: 62.5%;
}

body {
  line-height: $body-line-height;
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color .15s ease-in;
  &:hover {
  	text-decoration: underline;
  }
}