<div *ngIf="resource">
  <div class="bg(purple) pt(20px) pb(30px)">
    <div class="d(flex) ai(center) w(100%) maxw(xl) m(0-auto) px(20px)">
      <div class="d(inline-flex) ai(center) jc(center) w(56px) h(56px) mr(20px) br(100%) bg(purple1) lh(1) fw(600) f(1.4rem) c(purple4)" style="background-size: cover; background-position: center;" [ngStyle]="{'background-image': 'url(assets/images/' + resource.avatar + ')'}">{{resource.avatar ? "" : "PL"}}</div>
      <h1 class="fw(300) lh(1.25) f(3.2rem) c(purple7)">{{resource.knownAs ? resource.knownAs : resource.name}}</h1>
    </div>
  </div>
  <div class="bg(purple)">
    <div class="d(flex) w(100%) maxw(xl) m(0-auto) px(10px)">
      <nav class="d(flex)">
        <a class="bb(2) bc(transparent) bc-active(red) px(10px) py(15px) td-hover(none) tt(uppercase) f(1.2rem) c(purple4) c-hover(purple7) c-active(purple7) ls(0.1rem) t(all)" routerLink="detail" routerLinkActive="is-active">Profile</a>
        <a class="ml(30px) bb(2) bc(transparent) bc-active(red) px(10px) py(15px) td-hover(none) tt(uppercase) f(1.2rem) c(purple4) c-hover(purple7) c-active(purple7) ls(0.1rem) t(all)" routerLink="activity" routerLinkActive="is-active">Activity</a>
      </nav>
    </div>
  </div>
  <div class="bb(1) bg(gray1)">
    <div class="d(flex) fwrap(wrap) ai(center) maxw(120rem) m(center) p(1rem)">
      <div class="flex(12) flex(expand)@md p(1rem)">
        <h1 class="fs(1.8rem)">{{resource.knownAs}}</h1>
      </div>
      <div class="flex(12) flex(expand)@md p(1rem) ta(right)@md">
        <a class="{{ 'button' | f }}" (click)="delete()">Edit</a>
        <a class="{{ 'button' | f }} ml(2rem)" (click)="delete()">Delete</a>
      </div>
    </div>
  </div>
  <div class="maxw(120rem) m(center) px(1rem)">
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Summary</h2>
      </div>
      <div class="flex(12) flex(9)@md p(1rem)">
        <label class="{{ 'label' | f }}">Summary</label>
        <p>{{resource.summary}}</p>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Personal</h2>
      </div>
      <div class="flex(12) flex(9)@md px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(12)@md p(1rem)">
            <label class="{{ 'label' | f }}">Name</label>
            <p>{{resource.name}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Date of birth</label>
            <p>{{resource.dateOfBirth}}</p>
          </div>
          <div class="flex(12) flex(8)@md p(1rem)">
            <label class="{{ 'label' | f }}">Place of birth</label>
            <p>{{resource.cityOfBirth}}, {{resource.stateOfBirth}}, {{resource.countryOfBirth}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Marital status</label>
            <p>{{resource.maritalStatus}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Children</label>
            <p>{{resource.children}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Physical</h2>
      </div>
      <div class="flex(12) flex(9)@md d(flex) fwrap(wrap) px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Height</label>
            <p>{{resource.height}}CM</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
             <label class="{{ 'label' | f }}">Weight</label>
             <p>{{resource.weight}}KG</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Preferred foot</label>
            <p>{{resource.preferredFoot}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Main position</label>
            <p>{{resource.mainPosition.name}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Other positions</label>
            <p><span *ngFor="let otherPosition of resource.otherPositions">{{otherPosition.name}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Languages</h2>
      </div>
      <div class="flex(12) flex(9)@md d(flex) fwrap(wrap) px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(4)@md p(1rem)" *ngFor="let language of resource.languages">
            <label class="{{ 'label' | f }}">{{language.name}}</label>
            <p>{{language.level}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Contact</h2>
      </div>
      <div class="flex(12) flex(9)@md d(flex) fwrap(wrap) px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Phone</label>
            <p>{{resource.phone}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Email</label>
            <p>{{resource.email}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Website</label>
            <p>{{resource.website}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Twitter</label>
            <p>{{resource.twitter}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Facebook</label>
            <p>{{resource.facebook}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Instagram</label>
            <p>{{resource.instagram}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>