<div class="bg(purple) pt(20px) pb(40px)">
  <div class="d(flex) w(100%) maxw(xl) m(0-auto) px(20px)">
    <h1 class="fw(300) lh(1.25) f(3.2rem) c(purple7)">Resources</h1>
  </div>
</div>
<div class="w(100%) maxw(120rem) m(center) px(2rem) py(5rem)">
  <div class="ta(right)">
    <a class="{{'button' | f}}" routerLink="new">New</a>
    <a class="{{'button' | f}} ml(1rem)">Delete</a>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Known as</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>City of birth</th>
      <th>State of birth</th>
      <th>Country of birth</th>
      <th>Marital status</th>
      <th>Children</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Preferred foot</th>
      <th>Main position</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Website</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Instagram</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td><a routerLink="{{resource._id}}">{{resource.knownAs}}</a></td>
      <td>{{resource.name}}</td>
      <td>{{resource.dateOfBirth}}</td>
      <td>{{resource.cityOfBirth}}</td>
      <td>{{resource.stateOfBirth}}</td>
      <td>{{resource.countryOfBirth}}</td>
      <td>{{resource.maritalStatus}}</td>
      <td>{{resource.children}}</td>
      <td>{{resource.height}}</td>
      <td>{{resource.weight}}</td>
      <td>{{resource.preferredFoot}}</td>
      <td>{{resource.mainPosition}}</td>
      <td>{{resource.phone}}</td>
      <td>{{resource.email}}</td>
      <td>{{resource.website}}</td>
      <td>{{resource.twitter}}</td>
      <td>{{resource.facebook}}</td>
      <td>{{resource.instagram}}</td>
    </tr>
  </tbody>
</table>