<div *ngIf="resource">
  <div class="bb(1) bg(gray1)">
    <div class="d(flex) fwrap(wrap) ai(center) maxw(120rem) m(center) p(1rem)">
      <div class="flex(12) flex(expand)@md p(1rem)">
        <h1 class="fs(1.8rem)">{{resource.knownAs}}</h1>
      </div>
      <div class="flex(12) flex(expand)@md p(1rem) ta(right)@md">
        <a class="{{ 'button' | f }}" (click)="delete()">Edit</a>
        <a class="{{ 'button' | f }} ml(2rem)" (click)="delete()">Delete</a>
      </div>
    </div>
  </div>
  <div class="maxw(120rem) m(center) px(1rem)">
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Summary</h2>
      </div>
      <div class="flex(12) flex(9)@md p(1rem)">
        <label class="{{ 'label' | f }}">Summary</label>
        <p>{{resource.summary}}</p>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Personal</h2>
      </div>
      <div class="flex(12) flex(9)@md px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(12)@md p(1rem)">
            <label class="{{ 'label' | f }}">Name</label>
            <p>{{resource.name}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Date of birth</label>
            <p>{{resource.dateOfBirth}}</p>
          </div>
          <div class="flex(12) flex(8)@md p(1rem)">
            <label class="{{ 'label' | f }}">Place of birth</label>
            <p>{{resource.cityOfBirth}}, {{resource.stateOfBirth}}, {{resource.countryOfBirth}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Marital status</label>
            <p>{{resource.maritalStatus}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Children</label>
            <p>{{resource.children}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Physical</h2>
      </div>
      <div class="flex(12) flex(9)@md d(flex) fwrap(wrap) px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Height</label>
            <p>{{resource.height}}CM</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
             <label class="{{ 'label' | f }}">Weight</label>
             <p>{{resource.weight}}KG</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Preferred foot</label>
            <p>{{resource.preferredFoot}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Main position</label>
            <p>{{resource.mainPosition.name}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Other positions</label>
            <p><span *ngFor="let otherPosition of resource.otherPositions">{{otherPosition.name}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) bb(1) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Languages</h2>
      </div>
      <div class="flex(12) flex(9)@md d(flex) fwrap(wrap) px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(4)@md p(1rem)" *ngFor="let language of resource.languages">
            <label class="{{ 'label' | f }}">{{language.name}}</label>
            <p>{{language.level}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d(flex) fwrap(wrap) py(4rem)">
      <div class="flex(12) flex(3)@md p(1rem)">
        <h2 class="fs(1.8rem)">Contact</h2>
      </div>
      <div class="flex(12) flex(9)@md d(flex) fwrap(wrap) px(1rem)">
        <div class="flex(expand) d(flex) fwrap(wrap) mx(-1rem)">
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Phone</label>
            <p>{{resource.phone}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Email</label>
            <p>{{resource.email}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Website</label>
            <p>{{resource.website}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Twitter</label>
            <p>{{resource.twitter}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Facebook</label>
            <p>{{resource.facebook}}</p>
          </div>
          <div class="flex(12) flex(4)@md p(1rem)">
            <label class="{{ 'label' | f }}">Instagram</label>
            <p>{{resource.instagram}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>